
/*========Etiquetas=======*/

body {
    background: #005aaf;
    background-image:url('fondo.png');
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

h1, h2, h3,p{
    color: #fff;
}
/*
img {
    float: left;    
    vertical-align: middle;
}*/

/*==========Id´s==========*/
#LogoDiv{
    margin-top: 5px;
    margin-left: -50px;
    height: 14px;
}

/*=========Clases=========*/

.header-container {
    border-bottom: 20px solid #3AA0EE;    
    position: relative;
        z-index: 1;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.footer-container,
.main aside {
    border-top: 20px solid #2162A3;
}

.main {
    width:100%;
    /*background: #0b4075;*/
/*    background-image:url('fondo.png');*/
    padding: 30px 0;
}

.main aside {    
    background: #005aaf;
    background-image:url('fondo.png');
    color: white;
    padding: 0px 5% 10px;
}

.title {
    color: white;
}

.wrapper {
    width: 10%;
    margin: 0 5%;
}

.header-container,
.footer-container,
.wrapper{
    background: #297ACC;
    background-image:url('fondo.png');    
}

/*==================================
        menu style        
====================================*/

.menu,
.menu ul,
.menu li,
.menu a {
    outline: none;
   position: relative;
}
.menu{
    
}
.menu li {
    position: relative;
    float: left;
    display: block;
    margin-bottom: -10px;
    width: 147px;
    
}

.menu #inicio:first-child a {        
    margin-left: 0;
    border-radius: 1em 0 0 0;

}
.menu #contacto:last-child a {
    margin-right: 0;
    border-radius: 0 .5em 0 0 ;        
}  

.menu li a {
    color: white;
    background: #3AA0EE;
    font-weight: bold;
    display: block;
    padding: .5em 1em;    
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;    
    width: 140px;
}

.menu ul{
    /*display: none;*/
    opacity: 0;
    /*margin: 0;
    padding-top: 0;*/
    position: absolute;
    top: 25px;
    /*width: content-box;    */


    -webkit-transition: opacity .5s ease .1s;
    -moz-transition: opacity .5s ease .1s;
    -o-transition: opacity .5s ease .1s;
    -ms-transition: opacity .5s ease .1s;
    transition: opacity .5s ease .1s;
}

.menu ul li {
    height: 0;
    overflow: visible;
    padding: 0;   
    margin-bottom: 5px;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

#submenu li:last-child a, #submenu2 li:last-child a, #submenu3 li:last-child a{    
    border-radius: 0 0 1em 1em ;
}



/*===================================================================
        submenus Class
===================================================================*/

#submenu li #submenu2 li #submenu3 li {  
    width: 150px;
    
}

#submenu li a, #submenu2 li a{
    font-size: 14px;
    overflow: visible;
    text-align: center;   
    width: 186px;
    
}
#submenu3 li {
    font-size: 14px;
    overflow: visible;
    text-align: center;       
    width:170px;
}

/*================================================================
            hover
================================================================*/

.menu li:hover > a {
    color: #AEEAFC;
}

.menu li:hover > ul{ 
    opacity: 1;
    
}

.menu li:hover > ul li {
    height: 35px; 
}
.menu li :hover > ul li a {
    font-size: 14px;
}

.menu li:hover > ul li a{
    /*background: #5497d9;*/
    ;}
/* ==========================================================================
                Media Queries
   ========================================================================== */


@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
      ==================== */
}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #4b80b5;
        box-shadow: 0 20px 20px 5px #0c4d69 ;
    }

    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        margin-top: 38px;
    }

    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        /*background-color: #ff0000;*/
        width: 1026px; /* 1140px - 10% for margins */        
        margin: 0 auto;        
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    /*border: 0;*/
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    /*clip: rect(0 0 0 0);*/
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
