#container{       
    background: #105a7f;
    background-image:url('fondo.png');
    height: 380px;    
    max-width:100%;
    /*max-height: 400px;*/
    margin:0em auto 0 auto;    
    position: static;    
    z-index: 0;    
}

#banner-slide{    
    padding: 1.5%;
    margin: 0 auto 0 auto;
    
}



ul.bjqs-controls.v-centered li a{
    color:#000;
    display:block;
    font-size: 2em;
    margin-top: 0%;
    opacity: .5;
    padding: .3em;
    text-decoration: none;    
    position: absolute;
    z-index: 0;
    border-radius: .5em;

}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(16,82,144,0.5);        
        position: absolute;
}